ai-sample/SampleAIWorkflows/ingest-data/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "inputs": {
                    "base64Content": "@body('HTTP')['$content']",
                    "documentType": "pdf",
                    "splittingStrategy": "recursive",
                    "tokenLength": 512
                },
                "runAfter": {
                    "HTTP": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Compose"
            },
            "Convert_string_output_to_JSON": {
                "inputs": {
                    "content": "@body('Tokenize_a_document')",
                    "schema": {
                        "items": {
                            "properties": {
                                "content": {
                                    "type": "string"
                                },
                                "metadata": {
                                    "properties": {
                                        "page": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                },
                                "tokenLength": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "content",
                                "tokenLength",
                                "metadata"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "Tokenize_a_document": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ParseJson"
            },
            "Get_Embeddings": {
                "inputs": {
                    "parameters": {
                        "deploymentId": "@parameters('openai_embedding_deployment_id')",
                        "input": "@body('Select_Multiple')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "openai",
                        "operationId": "getArrayEmbeddings",
                        "serviceProviderId": "/serviceProviders/openai"
                    }
                },
                "runAfter": {
                    "Select_Multiple": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ServiceProvider"
            },
            "HTTP": {
                "inputs": {
                    "method": "GET",
                    "uri": "@triggerBody()?['fileUrl']"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Index_documents": {
                "inputs": {
                    "parameters": {
                        "documents": "@body('Select')",
                        "indexName": "@parameters('aisearch_index_name')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "azureaisearch",
                        "operationId": "indexDocuments",
                        "serviceProviderId": "/serviceProviders/azureaisearch"
                    }
                },
                "runAfter": {
                    "Select": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ServiceProvider"
            },
            "Select": {
                "inputs": {
                    "from": "@range(0, length(body('Convert_string_output_to_JSON')))",
                    "select": {
                        "content": "@body('Convert_string_output_to_JSON')[item()]['content']",
                        "documentName": "@triggerBody()?['documentName']",
                        "embeddings": "@body('Get_Embeddings')['embeddings'][item()]",
                        "id": "@concat(triggerBody()?['documentName'], item())"
                    }
                },
                "runAfter": {
                    "Get_Embeddings": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Select"
            },
            "Select_Multiple": {
                "inputs": {
                    "from": "@range(0, length(body('Convert_string_output_to_JSON')))",
                    "select": "@{body('Convert_string_output_to_JSON')[item()]['content']}"
                },
                "runAfter": {
                    "Convert_string_output_to_JSON": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Select"
            },
            "Tokenize_a_document": {
                "inputs": {
                    "body": "@outputs('Compose')",
                    "method": "POST",
                    "uri": "@parameters('tokenize_function_url')"
                },
                "runAfter": {
                    "Compose": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "documentName": {
                                "type": "string"
                            },
                            "fileUrl": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}