templates/asc-post-message-to-teams-and-send-notification-email.json
{
    "id": "/providers/Microsoft.Logic/galleries/public/templates/02638777-CA58-443C-A931-A0A39160CAE1",
    "type": "Microsoft.Logic/galleries/templates",
    "name": "02638777-CA58-443C-A931-A0A39160CAE1",
    "properties": {
        "author": {
            "displayName": "Microsoft"
        },
        "categoryNames": [
            "security",
            "general"
        ],
        "description": "Post message to Teams channel if alert sevirty is high, else send email notification",
        "displayName": "Post message to Teams channel and send email notification",
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "actions": {
                "If_severity_is_high_post_message_in_Team,_else_send_email_notification": {
                    "actions": {
                        "Post_message_to_Teams_security_channel": {
                            "inputs": {
                                "body": {
                                    "rootMessage": {
                                        "body": {
                                            "content": "",
                                            "contentType": 1
                                        }
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/beta/groups//channels//chatThreads"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Send_an_email_with_high_importance": {
                            "inputs": {
                                "body": {
                                    "Body": "Please review this alert ASAP: \n@{triggerBody()?['DisplayName']}\n\n@{triggerBody()?['Description']}",
                                    "Importance": "High",
                                    "Subject": "New alert from ASC : Severity : @{triggerBody()?['AlertSeverity']} : @{triggerBody()?['DisplayName']}",
                                    "To": null
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Mail"
                            },
                            "runAfter": {
                                "Post_message_to_Teams_security_channel": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        }
                    },
                    "else": {
                        "actions": {
                            "Send_an_email_with_low_priority": {
                                "inputs": {
                                    "body": {
                                        "Body": "Please review this alert :\nSeverity @{triggerBody()?['AlertSeverity']}\n\n@{triggerBody()?['Description']}\n\nThanks!",
                                        "Subject": "New alert from ASC : Severity : @{triggerBody()?['AlertSeverity']} : @{triggerBody()?['DisplayName']}",
                                        "To": null
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/Mail"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        }
                    },
                    "expression": "@equals(triggerBody()?['AlertSeverity'], '')",
                    "runAfter": {},
                    "type": "If"
                }
            },
            "contentVersion": "1.0.0.0",
            "outputs": {},
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "manual": {
                    "inputs": {
                        "schema": {
                            "properties": {
                                "Account.AadTenantId": {
                                    "title": "Account AAD Tenant ID",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Account.AadUserId": {
                                    "title": "Account AAD User ID",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Account.IsDomainJoined": {
                                    "title": "Account Is Domain Joined",
                                    "type": "boolean",
                                    "x-ms-visibility": "advanced"
                                },
                                "Account.LogonId": {
                                    "title": "Account Logon ID",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Account.NTDomain": {
                                    "title": "Account NT Domain",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Account.Name": {
                                    "title": "Account Name",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Account.PUID": {
                                    "title": "Account PUID",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Account.Sid": {
                                    "title": "Account SID",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Account.UPNSuffix": {
                                    "title": "Account UPN Suffix",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "AlertSeverity": {
                                    "title": "Alert Severity",
                                    "type": "string"
                                },
                                "CloudApplication.name": {
                                    "title": "Cloud Application Name",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "ConfidenceLevel": {
                                    "title": "Confidence Level",
                                    "type": "string"
                                },
                                "ConfidenceScore": {
                                    "title": "Confidence Score",
                                    "type": "number"
                                },
                                "Connection.DestinationAddress": {
                                    "title": "Connection Destination Address",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Connection.DestinationPort": {
                                    "title": "Connection Destination Port",
                                    "type": "number",
                                    "x-ms-visibility": "advanced"
                                },
                                "Connection.Protocol": {
                                    "enum": [
                                        "TCP",
                                        "UDP",
                                        ""
                                    ],
                                    "title": "Connection Protocol",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Connection.SourceAddress": {
                                    "title": "Connection Source Address",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Connection.SourcePort": {
                                    "title": "Connection Source Port",
                                    "type": "number",
                                    "x-ms-visibility": "advanced"
                                },
                                "Description": {
                                    "title": "Description",
                                    "type": "string"
                                },
                                "DisplayName": {
                                    "title": "Display Name",
                                    "type": "string"
                                },
                                "Dns.DnsServerIp": {
                                    "title": "DNS Server IP",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Dns.DomainName": {
                                    "title": "DNS Domain Name",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Dns.HostIpAddress": {
                                    "title": "DNS Host IP Address",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Dns.IpAddress": {
                                    "title": "DNS IP Address",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "EndTime": {
                                    "format": "date-time",
                                    "title": "End Time",
                                    "type": "string"
                                },
                                "Entities": {
                                    "items": {
                                        "properties": {},
                                        "type": "object"
                                    },
                                    "title": "Entities",
                                    "type": "array"
                                },
                                "ExtendedProperties": {
                                    "title": "Extended Properties",
                                    "type": "string"
                                },
                                "File.Directory": {
                                    "title": "File Directory",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "File.Md5": {
                                    "title": "File MD5",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "File.Name": {
                                    "title": "File Name",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "File.Sha1": {
                                    "title": "File SHA1",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "File.Sha256": {
                                    "title": "File SHA256",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "File.Sha256Ac": {
                                    "title": "File SHA256 /ac",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Host.AzureID": {
                                    "title": "Host Azure ID",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Host.DnsDomain": {
                                    "title": "Host DNS domain",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Host.HostName": {
                                    "title": "Host Name",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Host.IsDomainJoined": {
                                    "title": "Host Is Domain Joined",
                                    "type": "boolean",
                                    "x-ms-visibility": "advanced"
                                },
                                "Host.NTDomain": {
                                    "title": "Host NT Domain",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Host.NetBiosName": {
                                    "title": "Host NETBIOS Name",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Host.OMSAgentID": {
                                    "title": "Host OMS Agent ID",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Host.OperatingSystem": {
                                    "title": "Host Operating System",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Ip.Address": {
                                    "title": "IP Address",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Ip.Location": {
                                    "title": "IP Location",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "IsIncident": {
                                    "title": "Is Incident",
                                    "type": "boolean"
                                },
                                "Malware.Category": {
                                    "title": "Malware Category",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Malware.File": {
                                    "title": "Malware File",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Malware.Name": {
                                    "title": "Malware Name",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Process.Account": {
                                    "title": "Process Account",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Process.CommandLine": {
                                    "title": "Process Command Line",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Process.CreationTimeUtc": {
                                    "format": "date-time",
                                    "title": "Process Creation Time (UTC)",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Process.ElevationToken": {
                                    "title": "Process Elevation Token",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Process.Host": {
                                    "title": "Process Host",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Process.ImageFile": {
                                    "title": "Process Image File",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Process.ParentProcess": {
                                    "title": "Process Parent Process",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "Process.ProcessId": {
                                    "title": "Process ID",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "ProcessingEndTime": {
                                    "format": "date-time",
                                    "title": "Process Processing End Time",
                                    "type": "string"
                                },
                                "ProviderName": {
                                    "title": "Provider Name",
                                    "type": "string"
                                },
                                "RegistryKey.Hive": {
                                    "enum": [
                                        "HKEY_LOCAL_MACHINE",
                                        "HKEY_CLASSES_ROOT",
                                        "HKEY_CURRENT_CONFIG",
                                        "HKEY_USERS",
                                        "HKEY_CURRENT_USER_LOCAL_SETTINGS",
                                        "HKEY_PERFORMANCE_DATA",
                                        "HKEY_PERFORMANCE_NLSTEXT",
                                        "HKEY_PERFORMANCE_TEXT",
                                        "HKEY_A",
                                        "HKEY_CURRENT_USER"
                                    ],
                                    "title": "Registry Key Hive",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "RegistryKey.Key": {
                                    "title": "Registry Key",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "RegistryValue.Key": {
                                    "title": "Registry Value Key",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "RegistryValue.Name": {
                                    "title": "Registry Value Name",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "RegistryValue.Value": {
                                    "title": "Registry Value",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "RegistryValue.ValueType": {
                                    "enum": [
                                        "String",
                                        "Binary",
                                        "DWord",
                                        "Qword",
                                        "MultiString",
                                        "ExpandString",
                                        "None",
                                        "Unknown"
                                    ],
                                    "title": "Registry Value Type",
                                    "type": "string",
                                    "x-ms-visibility": "advanced"
                                },
                                "RemediationSteps": {
                                    "title": "Remediation Steps",
                                    "type": "string"
                                },
                                "ResourceId": {
                                    "title": "Resource ID",
                                    "type": "string"
                                },
                                "SourceComputerId": {
                                    "title": "Source Computer ID",
                                    "type": "string"
                                },
                                "StartTime": {
                                    "format": "date-time",
                                    "title": "Start Time",
                                    "type": "string"
                                },
                                "SystemAlertId": {
                                    "title": "System Alert ID",
                                    "type": "string"
                                },
                                "TimeGenerated": {
                                    "format": "date-time",
                                    "title": "Time Generated",
                                    "type": "string"
                                },
                                "VendorName": {
                                    "title": "Vendor Name",
                                    "type": "string"
                                },
                                "VendorOriginalId": {
                                    "title": "Vendor Original ID",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "kind": "SecurityCenterAlert",
                    "type": "Request"
                }
            }
        },
        "connectionReferences": {
            "office365": {
                "connection": {
                    "id": ""
                },
                "api": {
                    "id": "/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/office365"
                }
            },
            "teams": {
                "connection": {
                    "id": ""
                },
                "api": {
                    "id": "/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/teams"
                }
            }
        },
        "apiSummaries": [
            {
                "type": "apiconnection",
                "displayName": "${Resources.AZURESECURITYCENTER}",
                "iconUri": "${Images.AzureSecurityCenterIcon}",
                "brandColor": "#96c414"
            },
            {
                "type": "apiconnection",
                "displayName": "${Resources.OFFICE}",
                "iconUri": "https://az818438.vo.msecnd.net/icons/office365.png",
                "brandColor": "#eb3c00"
            },
            {
                "type": "apiconnection",
                "displayName": "${Resources.TEAMS}",
                "iconUri": "https://az818438.vo.msecnd.net/icons/teams.png",
                "brandColor": "#5558af"
            }
        ],
        "changedTime": "2017-09-18T00:00:00.000Z",
        "createdTime": "2017-09-18T00:00:00.000Z",
        "popularity": 99
    }
}