templates/scheduler-run-once-http.json
{
    "id": "/providers/Microsoft.Logic/galleries/public/templates/148efebb38114db08f90acba2231053a",
    "type": "Microsoft.Logic/galleries/templates",
    "name": "148efebb38114db08f90acba2231053a",
    "properties": {
        "author": {
            "displayName": "Derek Li"
        },
        "categoryNames": [
            "schedule"
        ],
        "description": "This template shows how to use Logic Apps to execute \"run once\" jobs similar to Azure Scheduler. With Azure Scheduler, customer nees to create multiple jobs, one for each \"run once\" instance. This template demonstrates how to use a single Logic App to handle \"run once\" workloads. Specify \"startTime\" in the request will schedule the action(s) to be executed at time specified.",
        "displayName": "Scheduler: Run Once Jobs",
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "actions": {
                "Delay_until": {
                    "inputs": {
                        "until": {
                            "timestamp": "@triggerBody()?['startTime']"
                        }
                    },
                    "runAfter": {},
                    "type": "Wait"
                },
                "Error_actions": {
                "actions": {
                    "Call_HTTP_on_Error": {
                        "inputs": {
                            "method": "",
                            "uri": ""
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "description": "Error actions to be executed if any action in primary action did not execute successfully.",
                "runAfter": {
                    "Primary_actions": [
                        "Failed",
                        "Skipped",
                        "TimedOut"
                    ]
                },
                    "type": "Scope"
                },
                "Primary_actions": {
                    "actions": {
                        "Call_HTTP": {
                            "inputs": {
                                "method": "",
                                "uri": ""
                            },
                            "runAfter": {},
                            "type": "Http"
                        }
                    },
                    "description": "Default actions to be executed at the time specified.",
                    "runAfter": {
                        "Delay_until": [
                            "Succeeded"
                        ]
                    },
                    "type": "Scope"
                }
            },
            "contentVersion": "1.0.0.0",
            "outputs": {},
            "parameters": {},
            "triggers": {
                "manual": {
                    "description": "You can update request schema to pass in custom values for actions to be executed.",
                    "inputs": {
                        "schema": {
                            "properties": {
                                "startTime": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "kind": "Http",
                    "type": "Request"
                }
            }
        },
        "connectionReferences": {},
        "apiSummaries": [
            {
                "type": "request",
                "displayName": "${Resources.REQUEST_TRIGGER_DISPLAYNAME}",
                "iconUri": "${Images.RequestIcon}",
                "brandColor": "#009DA5"
            },
            {
                "type": "http",
                "displayName": "${Resources.HTTP_DISPLAYNAME}",
                "iconUri": "${Images.HttpIcon}",
                "brandColor": "#709727"
            }
        ],
        "changedTime": "2017-08-10T00:00:00.000Z",
        "createdTime": "2017-08-10T00:00:00.000Z",
        "popularity": 15
    }
}
