templates/service-bus-sessions.json
{
    "id": "/providers/Microsoft.Logic/galleries/public/templates/6FA1A2D5-6F25-4074-8CE8-C843161E787E",
    "type": "Microsoft.Logic/galleries/templates",
    "name": "6FA1A2D5-6F25-4074-8CE8-C843161E787E",
    "properties": {
        "author": {
            "displayName": "Microsoft"
        },
        "categoryNames": [
            "Enterprise Integration"
        ],
        "description": "${Resources.TEMPLATE_SERVICEBUS_SESSIONS_DESCRIPTION}",
        "displayName": "${Resources.TEMPLATE_SERVICEBUS_SESSIONS_DISPLAYNAME}",
        "galleryName": "public",
        "summary": "",
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "actions": {
                "Close_a_session_in_the_queue": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['servicebus']['connectionId']"
                            }
                        },
                        "method": "delete",
                        "path": "/@{encodeURIComponent('')}/sessions/@{encodeURIComponent(triggerBody()?['SessionId'])}/close"
                    },
                    "runAfter": {
                        "Until": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection"
                },
                "Complete_initial_message_in_queue": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['servicebus']['connectionId']"
                            }
                        },
                        "method": "delete",
                        "path": "/@{encodeURIComponent('')}/messages/complete",
                        "queries": {
                            "lockToken": "@{triggerBody()?['LockToken']}",
                            "queueType": "Main",
                            "sessionId": "@{triggerBody()?['SessionId']}"
                        }
                    },
                    "runAfter": {
                        "Send_initial_message_to_topic": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection"
                },
                "Send_initial_message_to_topic": {
                    "inputs": {
                        "body": {
                            "ContentData": "@{triggerBody()?['ContentData']}",
                            "ContentType": "@{triggerBody()?['ContentType']}",
                            "Properties": "@triggerBody()?['Properties']",
                            "SessionId": "@{triggerBody()?['SessionId']}"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['servicebus']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/@{encodeURIComponent(triggerBody()?['SessionId'],'-topic')}/messages",
                        "queries": {
                            "systemProperties": "None"
                        }
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                },
                "Until": {
                    "actions": {
                        "Complete_the_message_in_a_queue": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/@{encodeURIComponent('')}/messages/complete",
                                "queries": {
                                    "lockToken": "@{body('Receive_next_message_in_session')?['LockToken']}",
                                    "queueType": "Main",
                                    "sessionId": "@{body('Receive_next_message_in_session')?['SessionId']}"
                                }
                            },
                            "runAfter": {
                                "Send_message_to_topic": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Receive_next_message_in_session": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/@{encodeURIComponent('')}/messages/head/peek",
                                "queries": {
                                    "queueType": "Main",
                                    "sessionId": "@{triggerBody()?['SessionId']}"
                                }
                            },
                            "limit": {
                                "timeout": "PT5M"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Send_message_to_topic": {
                            "inputs": {
                                "body": {
                                    "ContentData": "@{body('Receive_next_message_in_session')?['ContentData']}",
                                    "ContentType": "@{body('Receive_next_message_in_session')?['ContentType']}",
                                    "Properties": "@body('Receive_next_message_in_session')?['Properties']",
                                    "SessionId": "@{body('Receive_next_message_in_session')?['SessionId']}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(body('Receive_next_message_in_session')?['SessionId'],'-topic')}/messages",
                                "queries": {
                                    "systemProperties": "None"
                                }
                            },
                            "runAfter": {
                                "Receive_next_message_in_session": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        }
                    },
                    "expression": "@contains('content', 'done')",
                    "limit": {
                        "timeout": "PT30S"
                    },
                    "runAfter": {
                        "Complete_initial_message_in_queue": [
                            "Succeeded"
                        ]
                    },
                    "type": "Until"
                }
            },
            "contentVersion": "1.0.0.0",
            "outputs": {},
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "When_a_message_is_received_in_a_queue_(peek-lock)": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['servicebus']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/@{encodeURIComponent('')}/messages/head/peek",
                        "queries": {
                            "queueType": "Main",
                            "sessionId": "Next Available"
                        }
                    },
                    "recurrence": {
                        "frequency": "Minute",
                        "interval": 3
                    },
                    "type": "ApiConnection"
                }
            }
        },
        "connectionReferences": {
            "servicebus": {
                "connection": {
                    "id": ""
                },
                "api": {
                    "id": "/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/servicebus"
                }
            }
        },
        "apiSummaries": [
            {
                "type": "apiconnection",
                "displayName": "${Resources.SERVICEBUS}",
                "iconUri": "https://connectoricons-prod.azureedge.net/servicebus/icon_1.0.1019.1195.png",
                "brandColor": "#59B4D9"
            },
            {
                "type": "apiconnection",
                "displayName": "${Resources.SERVICEBUS}",
                "iconUri": "https://connectoricons-prod.azureedge.net/servicebus/icon_1.0.1019.1195.png",
                "brandColor": "#59B4D9"
            }
        ],
        "changedTime": "2017-07-05T00:00:59.000Z",
        "createdTime": "2017-04-04T00:00:59.000Z",
        "popularity": 3
    }
}