templates/sharepoint-move.json
{
    "id": "/providers/Microsoft.Logic/galleries/public/templates/82a7083253a94bad9c0ef8af504b7c75",
    "type": "Microsoft.Logic/galleries/templates",
    "name": "82a7083253a94bad9c0ef8af504b7c75",
    "properties": {
        "author": {
            "displayName": "Microsoft"
        },
        "categoryNames": [
            "productivity"
        ],
        "description": "${Resources.TEMPLATE_SHAREPOINT_MOVE_DESCRIPTION}",
        "displayName": "${Resources.TEMPLATE_SHAREPOINT_MOVE_DISPLAYNAME}",
        "galleryName": "public",
        "summary": "",
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "actions": {
                "Condition": {
                    "actions": {
                        "Create_file": {
                            "inputs": {
                                "body": "",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets//files",
                                "queries": {
                                    "folderPath": "",
                                    "name": ""
                                }
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Delete_file": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/datasets//files/"
                            },
                            "runAfter": {
                                "Create_file": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        }
                    },
                    "expression": "@equals(body('Send_approval_email')?['SelectedOption'], 'Approve')",
                    "runAfter": {
                        "Send_approval_email": [
                            "Succeeded"
                        ]
                    },
                    "type": "If"
                },
                "Send_approval_email": {
                    "inputs": {
                        "body": {
                            "NotificationUrl": "@listCallbackUrl()",
                            "Message": {
                                "Importance": "Normal",
                                "Options": "Approve, Reject",
                                "Subject": "Approve a new SharePoint file",
                                "To": null
                            }
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                        },
                        "path": "/approvalmail/$subscriptions"
                    },
                    "runAfter": {},
                    "type": "ApiConnectionWebhook"
                }
            },
            "contentVersion": "1.0.0.0",
            "outputs": {},
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "When_a_file_is_created": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/datasets//triggers/onnewfile",
                        "queries": {
                            "folderId": ""
                        }
                    },
                    "recurrence": {
                        "frequency": "Minute",
                        "interval": 3
                    },
                    "type": "ApiConnection"
                }
            }
        },
        "connectionReferences": {
            "sharepointonline": {
                "connection": {
                    "id": ""
                },
                "api": {
                    "id": "/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/sharepointonline"
                }
            },
            "office365": {
                "connection": {
                    "id": ""
                },
                "api": {
                    "id": "/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/office365"
                }
            }
        },
        "apiSummaries": [
            {
                "type": "apiconnection",
                "displayName": "${Resources.SHAREPOINT}",
                "iconUri": "https://az818438.vo.msecnd.net/icons/sharepoint.png",
                "brandColor": "#1b75bc"
            },
            {
                "type": "apiconnectionwebhook",
                "displayName": "${Resources.OFFICE}",
                "iconUri": "https://connectoricons-prod.azureedge.net/office365/icon_1.0.1008.1183.png",
                "brandColor": "#0072c5"
            },
            {
                "type": "apiconnection",
                "displayName": "${Resources.SHAREPOINT}",
                "iconUri": "https://az818438.vo.msecnd.net/icons/sharepoint.png",
                "brandColor": "#1b75bc"
            }
        ],
        "changedTime": "2017-07-05T00:00:51.000Z",
        "createdTime": "2017-01-31T00:00:51.000Z",
        "popularity": 20
    }
}