templates/x12-to-as2.json
{
    "id": "/providers/Microsoft.Logic/galleries/public/templates/3821506240744debadcd89c94690652d",
    "type": "Microsoft.Logic/galleries/templates",
    "name": "3821506240744debadcd89c94690652d",
    "properties": {
        "author": {
            "displayName": "Microsoft"
        },
        "categoryNames": [
            "Enterprise Integration"
        ],
        "description": "${Resources.TEMPLATE_X12_TO_AS2_DESCRIPTION}",
        "displayName": "${Resources.TEMPLATE_X12_TO_AS2_DISPLAYNAME}",
        "galleryName": "public",
        "summary": "",
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "actions": {
                "Check_Bad_Messages": {
                    "actions": {
                        "For_each_Bad_Message": {
                            "actions": {
                                "Save_bad_message": {
                                    "inputs": {
                                        "body": "@base64ToBinary(item()?['Payload'])",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "",
                                            "name": "@concat('FailedMessage', utcnow())"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                }
                            },
                            "foreach": "@body('Decode_X12_message')['BadMessages']",
                            "runAfter": {},
                            "type": "Foreach"
                        }
                    },
                    "expression": "@greaterOrEquals(length(body('Decode_X12_message')?['BadMessages']), 1)",
                    "runAfter": {
                        "Decode_X12_message": [
                            "Succeeded"
                        ]
                    },
                    "type": "If"
                },
                "Check_Generated_Acks": {
                    "actions": {},
                    "expression": "@greaterOrEquals(length(body('Decode_X12_message')?['GeneratedAcks']), 1)",
                    "runAfter": {
                        "Decode_X12_message": [
                            "Succeeded"
                        ]
                    },
                    "type": "If"
                },
                "Check_MDN_Expected": {
                    "actions": {
                        "Check_MDN_Type": {
                            "actions": {
                                "Send_200_OK_for_Async_MDN": {
                                    "type": "Response",
                                    "inputs": {
                                        "statusCode": 200
                                    },
                                    "runAfter": {}
                                },
                                "Send_Async_MDN": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "POST",
                                        "uri": "@{body('Decode_AS2_message')?['OutgoingMdn']?['ReceiptDeliveryOption']}",
                                        "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                                        "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                                    },
                                    "runAfter": {
                                        "Send_200_OK_for_Async_MDN": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            },
                            "else": {
                                "actions": {
                                    "Send_Sync_MDN": {
                                        "inputs": {
                                            "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])",
                                            "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                                            "statusCode": 200
                                        },
                                        "runAfter": {},
                                        "type": "Response"
                                    }
                                }
                            },
                            "expression": "@equals(body('Decode_AS2_message')?['OutgoingMdn']?['MdnType'], 'Async')",
                            "runAfter": {},
                            "type": "If"
                        }
                    },
                    "else": {
                        "actions": {
                            "Send_200_OK": {
                                "inputs": {
                                    "statusCode": 200
                                },
                                "runAfter": {},
                                "type": "Response"
                            }
                        }
                    },
                    "expression": "@equals(body('Decode_AS2_message')?['AS2Message']?['MdnExpected'], 'Expected')",
                    "runAfter": {
                        "Decode_AS2_message": [
                            "Succeeded"
                        ]
                    },
                    "type": "If"
                },
                "Check_Received_Acks": {
                    "actions": {
                        "For_each_Received_Ack": {
                            "actions": {
                                "Save_received_acks": {
                                    "inputs": {
                                        "body": "@item()?['Payload']",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "",
                                            "name": "@concat('ReceivedAck', utcnow())"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                }
                            },
                            "foreach": "@body('Decode_X12_message')?['ReceivedAcks']",
                            "runAfter": {},
                            "type": "Foreach"
                        }
                    },
                    "expression": "@greaterOrEquals(length(body('Decode_X12_message')?['ReceivedAcks']), 1)",
                    "runAfter": {
                        "Decode_X12_message": [
                            "Succeeded"
                        ]
                    },
                    "type": "If"
                },
                "Decode_AS2_message": {
                    "inputs": {
                        "body": "@triggerBody()",
                        "headers": "@triggerOutputs()['headers']",
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['as2']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/decode"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                },
                "Decode_X12_message": {
                    "inputs": {
                        "body": "@base64ToBinary(body('Decode_AS2_message')?['AS2Message']?['Content'])",
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['x12']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/decode"
                    },
                    "runAfter": {
                        "Decode_AS2_message": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection"
                },
                "For_each_Good_Message": {
                    "actions": {
                        "Transform_XML": {
                            "inputs": {
                                "content": "@xml(base64ToBinary(item()?['Payload']))",
                                "function": {
                                    "id": ""
                                },
                                "integrationAccount": {
                                    "map": {
                                        "name": ""
                                    }
                                }
                            },
                            "runAfter": {},
                            "type": "Xslt"
                        }
                    },
                    "foreach": "@body('Decode_X12_message')?['GoodMessages']",
                    "runAfter": {
                        "Decode_X12_message": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                }
            },
            "contentVersion": "1.0.0.0",
            "outputs": {},
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "manual": {
                    "inputs": {
                        "schema": {}
                    },
                    "kind": "Http",
                    "type": "Request"
                }
            }
        },
        "connectionReferences": {
            "as2": {
                "connection": {
                    "id": ""
                },
                "api": {
                    "id": "/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/as2"
                }
            },
            "x12": {
                "connection": {
                    "id": ""
                },
                "api": {
                    "id": "/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/x12"
                }
            },
            "azureblob": {
                "connection": {
                    "id": ""
                },
                "api": {
                    "id": "/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/azureblob"
                }
            }
        },
        "apiSummaries": [
            {
                "type": "request",
                "displayName": "${Resources.REQUEST_TRIGGER_DISPLAYNAME}",
                "iconUri": "${Images.RequestIcon}",
                "brandColor": "#009DA5"
            },
            {
                "type": "apiconnection",
                "displayName": "${Resources.AS2_DISPLAYNAME}",
                "iconUri": "https://az818438.vo.msecnd.net/icons/as2.png",
                "brandColor": "#0178D5"
            },
            {
                "type": "apiconnection",
                "displayName": "${Resources.X12_DISPLAYNAME}",
                "iconUri": "https://az818438.vo.msecnd.net/icons/x12.png",
                "brandColor": "#58B4D9"
            },
            {
                "type": "apiconnection",
                "displayName": "${Resources.AZURE_BLOB_DISPLAYNAME}",
                "iconUri": "https://az818438.vo.msecnd.net/icons/azureblob.png",
                "brandColor": "#804998"
            }
        ],
        "changedTime": "2017-07-10T00:00:55.000Z",
        "createdTime": "2017-01-31T00:00:55.000Z",
        "popularity": 3
    }
}
